.ui.center.aligned.header {
  margin: 1.5em 0;
  font-size:2.5em;
}

/*
html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}
*/

/* 

  justify-content?????

*/
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
}

/* Horizontal Flexbox */
.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Vertical Flexbox */
.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Element (Play, Vote, Seq) */
.element {
  box-sizing: border-box; /* Takes into account padding in size*/
  flex: 1 1 auto;
  width: 15%;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

input[type=number] {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}



/*----------------------------*/
.seq {
  /*
  height: 25px;
  border-radius: 5px;
  */
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.nes-container.with-title.background-gray {
  background-color: gray;
}