@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

/* General */
* {
  color: black;
  font-family: 'Architects Daughter';
}

/*
#counter {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  text-align: center;
  vertical-alignment: middle;
  line-height: 100px;
  position: absolute;
  cursor: pointer;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
*/

#root {
  min-width: 512px;
  min-height: 320px;
  max-width: 1000px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  width: 80vw;
  height: 50vw;
  background-color: #333333;
  margin: 0;
  
  
  position: absolute;
  border-radius: 3%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.play_button {
  width: 19%;
}


input[type=number] {
  width: 19%;

  box-sizing: border-box;
}


#childrencontainer{
  margin-top: 50px;
}






/*----------------------------*/
#bar {
  background-color: grey;
  padding: 15px;
  border-radius: 5px;
}

.key {
  width: 4%;
  height: 50px;
  border-radius: 5px;
  display: inline-block;
  background-color: lightgrey;
  border: 2px solid grey;
  margin-right: 5px;
  cursor: pointer;
}

.red {
  background-color: #ea4545;
  border-color: #b33232;
}

.orange {
  background-color: orange;
  border-color: darkorange;
}

.yellow {
  background-color: #fdd238a3;
  border-color: #ad8c19a3;
}

.white {
  background-color: #eeeeee;
  border-color: lightgrey;
}

.selected {
  background-color: green;
  border-color: darkgreen;
}

.circle {
  width: 10px;
  height: 10px;
  border: 1px solid grey;
  background-color: lightgrey;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}

.active-circle {
  border-color: green;
  background-color: lightgreen;
}
